/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;
}

html, body {
  font-family: 'Merriweather' !important;
}

.header-container {
  background-color: var(--bgSite);
  padding: 75px 50px 123px;
}

.container-one {
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-container > .container-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-one {
  max-width: 440px;
}

.text-principal {
  font-size: 36px;
  max-width: 349px;
  width: 100%;
  line-height: 47px;
}

.text-secundario {
  margin: 15px 0 50px;
}

header p {
  font-size: 19px;
  color: var(--text);
  font-family: 'Merriweather';
  line-height: 32px;
}

.button-one {
  border-radius: 5px;
  padding: 15px 51px;
  border: none;
  background-color: var(--buttonColor);
  font-weight: bold;
  color: var(--white);
  font-size: 17px;
  text-decoration: none;
}

.button-one:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.image {
  height: 362px;
}

.container-two {
  display: flex;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-content {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  gap: 113px;
  padding: 132px 150px;
}

.card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.02);
}

.card-one .img {
  background-color: #FF6363;
}

.card .img {
  height: 200px;
}

.card .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-card {
  padding: 16px 25px;
  display: grid;
  font-size: 21px;
  line-height: 26px;
}

.text-card p {
  color: var(--text);
  font-size: 18px;
  font-style: italic;
}

.card h2 {
  color: black;
}

main h2 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
}

.container-cadastro {
  display: flex;
  justify-content: center;
  background-color: var(--bgSite);
  padding: 88px 0 80px;
}

.container-cadastro form {
  display: grid; 
  gap: 7.5px;
}

.container-cadastro h2 {
  font-size: 32px;
  text-align: center;
  color: var(--title);
  margin-bottom: 49px;
}

.container-cadastro input {
  font-size: 18px;
  padding: 22px 10px;
  border-radius: 5px;
  border: none;
  margin: 0;
}

::placeholder {
  font-size: 17px;
  color: var(--text);
  font-family:'Lato', sans-serif;
  color: rgba(110, 114, 117, 0.74);
}

.textarea {
  display: grid; 
  font-size: 18px;
  margin-top: 7px;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 14px 10px;
}

.button-two {
  padding: 14px 10px;
  background-color: var(--buttonColor);
  font-size: 20px;
  color: var(--white);
  border-radius: 5px;
  border: none;
  margin: 23px 0 0;
}

button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.rodape > *:not(:first-child) {
  margin-left: 10px;
}

.linkedin {
  width: 50px;
}

.instagram {
  width: 50px;
}

.facebook {
  width: 50px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

@media screen and (max-width: 1080px) {
  .header-container  > .container-one {
    padding: 57px 0 51px !important;
  }
  
  .header-container > .container-one {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box-one {
    margin-bottom: 50px;
  }

  .text-principal {
    text-align: center;
    max-width: 100%;
  }

  .text-secundario {
    text-align: center;
  }

  .button-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-one {
    padding: 15px 51px;
  }

  .image {
    width: 400px;
  }

}

@media screen and (max-width: 550px) {
  .main-content {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 100px 0;
  }
  
  .text-card p {
    color: var(--text);
    font-size: 13px;
    font-style: italic;
  }

  .container-cadastro {
    padding: 50px 20px;
  }

  footer p {
    margin: 20px;
    font-size: 12px;
  }

}

@media screen and (max-width: 500px) {

  .header-container {
    padding: 15px 0 0;
  }

  .header-container > .container-one {
    padding: 0 0 15px !important;
  }

  .text-principal {
    text-align: left;
    max-width: 300px;
    font-size: 30px;
  }

  .text-secundario {
    text-align: left;
    max-width: 300px;
    font-size: 13px;
    margin-bottom: 24px;
  }

  .button-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 300px;
  }
}

